<div class="footer-content">
    <div class="footer-logo">
        <a class="footer-logo" href="/index.html"><img src="/Assets/Images/Codex_Logo.png" alt="Logo"></a>
        <address class="footerDetails">Christchurch / Canterbury, New Zealand<br>&copy; 2024 Codex Studios. All rights reserved. <a href="/Assets/HTML/Pages/Placeholder.html">Privacy Policy</a> | <a href="/Assets/HTML/Pages/Placeholder.html">Terms of Service</a></address>
    </div>
    <div class="footer-links">
        <div class="column">
            <ul>
            <h4>Website Information</h4>
            
                <li><a href="/Assets/HTML/Pages/Placeholder.html">News</a></li>
                <li><a href="/Assets/HTML/Pages/Placeholder.html">Contact Us</a></li>
                <li><a href="/Assets/HTML/Pages/Placeholder.html">Feedback</a></li>
                <li><a href="/Assets/HTML/Pages/Placeholder.html">FAQ</a></li>
                <li><a href="/Assets/HTML/Pages/Placeholder.html">About Us</a></li>
                <li></li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <h4>Services & Support</h4>
                <li><a href="/Assets/HTML/Pages/Placeholder.html">Help</a></li>
                <li><a href="/Assets/HTML/Pages/Placeholder.html">Tutorials</a></li>
                <li><a href="/Assets/HTML/Pages/Placeholder.html">Offers</a></li>
                <li><a href="/Assets/HTML/Pages/Placeholder.html">Documentation</a></li>
                <li><a href="/Assets/HTML/Pages/Placeholder.html">Support Center</a></li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <h4>Social Media</h4>
                <li><a href="/Assets/HTML/Pages/Placeholder.html">Discord</a></li>
                <li><a href="/Assets/HTML/Pages/Placeholder.html">Youtube</a></li>
                <li><a href="/Assets/HTML/Pages/Placeholder.html">Instagram</a></li>
                <li><a href="/Assets/HTML/Pages/Placeholder.html">Linkedin</a></li>
                <li><a href="/Assets/HTML/Pages/Placeholder.html">Facebook</a></li>
            </ul>
        </div>
    </div>
    
    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d925.6747581517818!2d172.64318640865676!3d-43.537443260424936!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d318a1567eb69ad%3A0xe6f4e90d5bb79c36!2sWhitecliffe%20%E2%80%93%20Technology%20%26%20Innovation!5e1!3m2!1sen!2snz!4v1731273347876!5m2!1sen!2snz"></iframe>
</div>
