<a href="/index.html">
    <img class="logo" src="/Assets/Images/Codex_Logo.png" alt="Codex Studios Logo">
</a>
<ul class="navLinks">
    <li><a href="/index.html">Home</a></li>
    <li><a href="/Assets/HTML/Pages/About Page.html">About</a></li>
    <li><a href="/Assets/HTML/Pages/Bot Page.html">Our bot</a></li>
    <li><a href="/Assets/HTML/Pages/Showcases Page.html">Showcases</a></li>
</ul>

<div class="fontChanger">
    <button class="fontBtn" id="font">Switch to Aurebesh</button>
</div>
